@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.user-box {
  width: 290px;
  border: 1.5px solid $grey-2;
  border-radius: 3px;
  background-color: $white;
  margin-bottom: 20px;
  transition: height 0.5s ease-out;

  @include sm {
    width: 450px;
  }

  @include md {
    width: 600px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    border-bottom: 1.5px solid $grey-2;

    @include sm {
      flex-direction: row;
      justify-content: space-between;
    }

    &-user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;

      @include sm {
        flex-direction: row;
        margin-bottom: 0;
      }
    }
  }

  &__card-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    color: $pink;
    cursor: pointer;
    transition: background .15s ease-out;


    @include sm {
      flex-direction: row;
    }

    &:hover {
      background: $grey-0;
      border-radius: 2px;
    }
  }

  &__card-toggler-icon {
    height: 16px;
    margin-top: 10px;
    transition: transform 0.2s ease-out;

    @include sm {
      margin-left: 10px;
      margin-top: 0;
    }

    &--inverted {
      transform: rotate(180deg);
    }
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include sm {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    &--collapsed {
      display: none;
    }

    &-details {
      margin-bottom: 10px;
      color: $grey-4;

      @include sm {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
  }
}

.user {
  &__image {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    border-radius: 50%;

    @include sm {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &__name {
    font-weight: 500;
    color: $grey-4;
  }
}
