@import "../../../styles/breakpoints";

.search-box {
  display: flex;
  margin-bottom: 15px;

  @include sm {
    margin-bottom: 35px;
  }

  @include md {
    margin-bottom: 55px;
  }

  @include lg {
    margin-bottom: 75px;
  }

  @include xl {
    margin-bottom: 95px;
  }
}
