@import '../../../styles/variables';
@import '../../../styles/breakpoints';

.search-input {
  height: 100%;
  width: 200px;
  padding: 4px 15px;
  border: none;
  color: $grey-3;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 0.5;
  }

  @include sm {
    width: 270px;
  }

  @include md {
    width: 320px;
  }

  @include lg {
    width: 370px;
  }

  @include xl {
    width: 420px;
  }
}
