<div class="user-list">
  <div
    class="user-list__img-not-found-container"
    *ngIf="
      (isUserListLoading$ | async) === false && (userList$ | async).length == 0
    "
  >
    <img
      class="user-list__img-not-found"
      src="../../../../assets/img-empty.svg"
      alt="No Users Image"
    />
  </div>

  <div *ngIf="isUserListLoading$ | async">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="(isUserListLoaded$ | async) && (userList$ | async).length > 0">
    <h4 class="user-list__heading">Resultados da busca</h4>
    <app-user-box
      *ngFor="let user of userList$ | async"
      [user]="user"
    ></app-user-box>
  </div>
</div>
