@import './app/styles/variables';
@import "~carbon-components/scss/globals/scss/styles.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  background-color: $grey-0;
  background-image: url('./assets/wave.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
